---
layout: default
title: John Griffin
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post_item">
      <div class="post_title">
      	<div id="post_title">
      		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      	</div>
      	<div id="date">
      		{{ post.date | date: "%A, %d %B %Y" }}
      	</div>
      	<div id="share">
      		<a class="instapaper" href="http://www.instapaper.com/hello2?url=http%3A%2F%2Fwww.johng.co.uk{{ post.url }}&title={{ post.title }}">Add to Instapaper</a>
      		<a class="twitter" target="_blank" href="http://twitter.com/share?url=http://www.johng.co.uk{{ post.url }}&text={{ post.title }}&via=johng&related=johng">Tweet this</a>
      	</div>
      </div>
      <hr>
      <div id="post">{{ post.content }}</div>
  	</div>
  {% endfor %}
  <div class="post_item">&nbsp;</div>
  <div class="post_item">
  	<div class="date">
  		&nbsp;
  	</div>
  	<div class="link">
      {% if paginator.page < paginator.total_pages %}
      <a href="/page{{ paginator.next_page }}"><- Older</a>
      {% endif %}
      &nbsp; | &nbsp;
      {% if paginator.page == 2 %}
      <a href="/">Newer -></a>
      {% elsif paginator.page > 2 %}
      <a href="/page{{ paginator.previous_page }}">Newer -></a>
      {% endif %}
  	</div>
  </div>
</div>