/* line 2, ../_sass/code.sass */
div#post div.highlight {
  background: #ffffff;
}

/* line 5, ../_sass/code.sass */
.highlight {
  background: #ffffff;
}
/* line 8, ../_sass/code.sass */
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 12, ../_sass/code.sass */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 16, ../_sass/code.sass */
.highlight .k, .highlight .o {
  font-weight: bold;
}
/* line 19, ../_sass/code.sass */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 23, ../_sass/code.sass */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* line 27, ../_sass/code.sass */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 31, ../_sass/code.sass */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 36, ../_sass/code.sass */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 40, ../_sass/code.sass */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* line 44, ../_sass/code.sass */
.highlight .ge {
  font-style: italic;
}
/* line 47, ../_sass/code.sass */
.highlight .gr {
  color: #aa0000;
}
/* line 50, ../_sass/code.sass */
.highlight .gh {
  color: #999999;
}
/* line 53, ../_sass/code.sass */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 57, ../_sass/code.sass */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* line 61, ../_sass/code.sass */
.highlight .go {
  color: #888888;
}
/* line 64, ../_sass/code.sass */
.highlight .gp {
  color: #555555;
}
/* line 67, ../_sass/code.sass */
.highlight .gs {
  font-weight: bold;
}
/* line 70, ../_sass/code.sass */
.highlight .gu {
  color: #aaaaaa;
}
/* line 73, ../_sass/code.sass */
.highlight .gt {
  color: #aa0000;
}
/* line 76, ../_sass/code.sass */
.highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  font-weight: bold;
}
/* line 79, ../_sass/code.sass */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 83, ../_sass/code.sass */
.highlight .m {
  color: #009999;
}
/* line 86, ../_sass/code.sass */
.highlight .s {
  color: #d14;
}
/* line 89, ../_sass/code.sass */
.highlight .na {
  color: #008080;
}
/* line 92, ../_sass/code.sass */
.highlight .nb {
  color: #0086B3;
}
/* line 95, ../_sass/code.sass */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 99, ../_sass/code.sass */
.highlight .no {
  color: #008080;
}
/* line 102, ../_sass/code.sass */
.highlight .ni {
  color: #800080;
}
/* line 105, ../_sass/code.sass */
.highlight .ne, .highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 109, ../_sass/code.sass */
.highlight .nn {
  color: #555555;
}
/* line 112, ../_sass/code.sass */
.highlight .nt {
  color: #000080;
}
/* line 115, ../_sass/code.sass */
.highlight .nv {
  color: #008080;
}
/* line 118, ../_sass/code.sass */
.highlight .ow {
  font-weight: bold;
}
/* line 121, ../_sass/code.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 124, ../_sass/code.sass */
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #009999;
}
/* line 127, ../_sass/code.sass */
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #d14;
}
/* line 130, ../_sass/code.sass */
.highlight .sr {
  color: #009926;
}
/* line 133, ../_sass/code.sass */
.highlight .s1 {
  color: #d14;
}
/* line 136, ../_sass/code.sass */
.highlight .ss {
  color: #990073;
}
/* line 139, ../_sass/code.sass */
.highlight .bp {
  color: #999999;
}
/* line 142, ../_sass/code.sass */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #008080;
}
/* line 145, ../_sass/code.sass */
.highlight .il {
  color: #009999;
}
