/* line 2, ../_sass/code.sass */
div#post div.highlight {
  background: #ffffff;
}

/* line 5, ../_sass/code.sass */
.highlight {
  background: #ffffff;
}
/* line 8, ../_sass/code.sass */
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 12, ../_sass/code.sass */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 16, ../_sass/code.sass */
.highlight .k, .highlight .o {
  font-weight: bold;
}
/* line 19, ../_sass/code.sass */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 23, ../_sass/code.sass */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* line 27, ../_sass/code.sass */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 31, ../_sass/code.sass */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 36, ../_sass/code.sass */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 40, ../_sass/code.sass */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* line 44, ../_sass/code.sass */
.highlight .ge {
  font-style: italic;
}
/* line 47, ../_sass/code.sass */
.highlight .gr {
  color: #aa0000;
}
/* line 50, ../_sass/code.sass */
.highlight .gh {
  color: #999999;
}
/* line 53, ../_sass/code.sass */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 57, ../_sass/code.sass */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* line 61, ../_sass/code.sass */
.highlight .go {
  color: #888888;
}
/* line 64, ../_sass/code.sass */
.highlight .gp {
  color: #555555;
}
/* line 67, ../_sass/code.sass */
.highlight .gs {
  font-weight: bold;
}
/* line 70, ../_sass/code.sass */
.highlight .gu {
  color: #aaaaaa;
}
/* line 73, ../_sass/code.sass */
.highlight .gt {
  color: #aa0000;
}
/* line 76, ../_sass/code.sass */
.highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  font-weight: bold;
}
/* line 79, ../_sass/code.sass */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 83, ../_sass/code.sass */
.highlight .m {
  color: #009999;
}
/* line 86, ../_sass/code.sass */
.highlight .s {
  color: #d14;
}
/* line 89, ../_sass/code.sass */
.highlight .na {
  color: #008080;
}
/* line 92, ../_sass/code.sass */
.highlight .nb {
  color: #0086B3;
}
/* line 95, ../_sass/code.sass */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 99, ../_sass/code.sass */
.highlight .no {
  color: #008080;
}
/* line 102, ../_sass/code.sass */
.highlight .ni {
  color: #800080;
}
/* line 105, ../_sass/code.sass */
.highlight .ne, .highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 109, ../_sass/code.sass */
.highlight .nn {
  color: #555555;
}
/* line 112, ../_sass/code.sass */
.highlight .nt {
  color: #000080;
}
/* line 115, ../_sass/code.sass */
.highlight .nv {
  color: #008080;
}
/* line 118, ../_sass/code.sass */
.highlight .ow {
  font-weight: bold;
}
/* line 121, ../_sass/code.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 124, ../_sass/code.sass */
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #009999;
}
/* line 127, ../_sass/code.sass */
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #d14;
}
/* line 130, ../_sass/code.sass */
.highlight .sr {
  color: #009926;
}
/* line 133, ../_sass/code.sass */
.highlight .s1 {
  color: #d14;
}
/* line 136, ../_sass/code.sass */
.highlight .ss {
  color: #990073;
}
/* line 139, ../_sass/code.sass */
.highlight .bp {
  color: #999999;
}
/* line 142, ../_sass/code.sass */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #008080;
}
/* line 145, ../_sass/code.sass */
.highlight .il {
  color: #009999;
}

/* line 36, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}
/* line 39, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 42, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 44, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 46, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}
/* line 48, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 7, ../_sass/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 58, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 img {
  margin: 0;
}
/* line 65, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 74, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 79, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 84, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
/* line 88, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 90, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 92, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 100, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:visited {
  color: #000066;
}
/* line 15, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:focus {
  color: black;
}
/* line 18, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:hover {
  color: black;
}
/* line 21, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:active {
  color: #cc0099;
}
/* line 103, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 107, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp strong {
  font-weight: bold;
}
/* line 109, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp em {
  font-style: italic;
}
/* line 111, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 114, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 116, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666;
}
/* line 118, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 121, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp del {
  color: #666;
}
/* line 123, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 126, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre, body.bp code, body.bp tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 129, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 131, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 134, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul {
  list-style-type: disc;
}
/* line 136, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ol {
  list-style-type: decimal;
}
/* line 138, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl dt {
  font-weight: bold;
}
/* line 142, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dd {
  margin-left: 1.5em;
}
/* line 144, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th {
  font-weight: bold;
}
/* line 149, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp thead th {
  background: #c3d9ff;
}
/* line 151, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 153, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 155, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tfoot {
  font-style: italic;
}
/* line 157, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp caption {
  background: #eee;
}
/* line 159, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .quiet {
  color: #666666;
}
/* line 161, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.bp .clearfix {
  display: block;
}
/* line 18, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_debug.sass */
body.bp .showgrid {
  background: url('/images/grid.png?1268060905');
}
/* line 5, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error a {
  color: #8a1f11;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 38, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice a {
  color: #514721;
}
/* line 9, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 46, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success a {
  color: #264409;
}
/* line 11, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .hide {
  display: none;
}
/* line 13, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .highlight {
  background: yellow;
}
/* line 15, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 17, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 12, ../_sass/screen.sass */
body.bp #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.bp #container {
  display: block;
}
/* line 14, ../_sass/screen.sass */
body.bp #header, body.bp #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 101, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.bp #header, * html body.bp #footer {
  overflow-x: hidden;
}
/* line 16, ../_sass/screen.sass */
body.bp #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 101, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.bp #content {
  overflow-x: hidden;
}

/* line 15, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp label {
  font-weight: bold;
}
/* line 17, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px;
}
/* line 28, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 34, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 37, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp select {
  margin: 0.5em 0;
}
/* line 49, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 51, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 55, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus,
form.bp select:focus {
  border: 1px solid #666666;
}
/* line 42, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 44, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px;
}
