---
layout: default
---

<script type="text/javascript" charset="utf-8">
	function iprl5(){
		var d = document,
		z = d.createElement('scr' + 'ipt'),
		b = d.body;
		try {
		    if (!b) throw (0);
		    d.title = '(Saving...) ' + d.title;
		    z.setAttribute('src', 'http://www.instapaper.com/j/WLdpiYDr34OC?u=' + encodeURIComponent(d.location.href) + '&t=' + (new Date().getTime()));
		    b.appendChild(z);
		} catch(e) {
		    alert('Please wait until the page has loaded.');
		}
	}
</script>
	
<div class="title">
	<div id="post_title">
		<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
	</div>
	<div id="date">
		<h5><i>{{ page.date | date: "%A, %d %B %Y" }}</i></h5>
	</div>
	<div id="share">
		<a class="instapaper" href="#" onclick="iprl5();void(0);">Add to Instapaper</a>
		<a class="twitter" href="http://twitter.com/home?status={{ page.title }}%20-%20http://www.johng.co.uk{{ page.url }}">Tweet this</a>
	</div>
</div>

<div id="post">
{{ content }}
</div>

<div id="comments">
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/johngblog/embed.js"></script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=johngblog">comments powered by Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
