---
layout: default
---
<div class="title">
	<h2><a href="{{ page.url }}">{{ page.title }}</a></h2><h5><i>{{ page.date | date: "%A, %d %B %Y" }}</i></h5>
</div>

<div id="post">
{{ content }}
</div>

<div id="comments">
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/johngblog/embed.js"></script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=johngblog">comments powered by Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
